/* font til tekster : font-family: 'Signika', sans-serif;
font til overskrifter : font-family: 'Vidaloka', serif;*/


h1 {
    font-family: 'Vidaloka', serif;
    ;
}

p {
    font-family: 'Signika', sans-serif;;
}

.container {
    position: relative;
    margin-bottom: 50px;
}

.space {
    margin-top: -100px;
}

/*header*/

#top {
    margin-top: -10px;
}

.parallax-hero {
    background-image: url(/images/heroimage.png);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titel {
    width: 780px;
    height: 230px;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 6%;
    font-size: 90px;
    margin-top: 50px;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.material-icons {
    width:5%;
    position: absolute;
    top: 85%;
    left: 47.5%;
    
}

i:hover {
    animation: bounce 1s;
}

#hero {
    width: 100%;
    height: auto;
}

/*section 1*/

.undervisning-container {
    border: 5px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    margin-top: -50px;
}

#undervisning {
    width: 40%;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 10%;
    float: left;
    overflow: hidden;
}

.Morten h1 {
    text-align: center; 
}

.Morten {
    width: 90%;
}
/*video*/

video {
    width: 100%;
}

/*section 2*/

.bred {
    width: 100%;
    height: auto;
}

.tekst1 {
    border: 2px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    width: 30%;
    padding: 5px;
    position: absolute;
    top: 15%;
    left: 8%;
    opacity: 0.8;
    border-radius: 5px;
}

#ryksammen {
    margin-top: -55px;
}

.tekst2 {
    border: 2px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    width: 30%;
    padding: 5px;
    position: absolute;
    top: 45%;
    right: 8%;
    opacity: 0.8;
    border-radius: 5px;
}

.parallaxone {
    background-image: url(/images/reol.JPG);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
}

.parallaxtwo {
    background-image: url(/images/stress.JPG);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*section 3*/

.parallaxthree {
    background-image: url(/images/fremtid.JPG);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tekst3 {
    border: 2px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    width: 30%;
    padding: 5px;
    position: absolute;
    top: 30%;
    left: 15%;
    opacity: 0.8;
    border-radius: 5px;
}

/*footer*/

#knap {
    background-color: lightgoldenrodyellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 400px;
    border-radius: 5px;
    margin-left: 105px;
    font-family: sans-serif;
}

.smal{
    text-align: center;
}

.snak{
    margin-left:40%;
}

#gif {
    float: right;
    margin-right: 300px;
    margin-top: -450px;
    width: 500px;
}

#auto {
    width: 800px;
    margin-left: 100px;
}

footer p {
    width: 500px;
    margin-left: 90px;
    text-align: center;
}

.venstre {
    margin-left: 100px;
    margin-top: 200px;
}